<h1>関東</h1>
<ul>
  <li><%= link_to '東京都', pref_path(pref: 'Tokyo') %></li>
  <li><%= link_to '埼玉県', pref_path(pref: 'Saitama') %></li>
  <li><%= link_to '神奈川県', pref_path(pref: 'Kanagawa') %></li>
  <li><%= link_to '群馬県', pref_path(pref: 'Gunma') %></li>
</ul>