<% content_for(:title, 'データベース図') %>
<% content_for(:body_class, "spot") %>
<% content_for(:body_id, "index") %>

<section class="container bg-white p-5">
  <h1>データーベース図</h1>
  <%= image_tag('db_map.png', class: 'db_map') %>
</section>
