<% content_for(:title, current_user.name + 'さんのマイページ') %>
<% content_for(:body_class, "user") %>
<% content_for(:body_id, "mypage") %>

<section>
  <h1><%= current_user.name %>さんのマイページ</h1>
</section>
