<h1>カテゴリー一覧</h1>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %> | <%= category.slug %> | <%= category.category_type %> | <%= link_to '削除', category, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %></li>
  <% end %>
</ul>
