<% content_for(:title, '新着お知らせ一覧') %>
<% content_for(:body_class, "info") %>
<% content_for(:body_id, "index") %>

<section>
  <h1>新着お知らせ一覧</h1>
  <% if @infos.any? %>
    <ul class="info-list">
      <% @infos.each do |info| %>
        <%= render '/infos/info', info: info %>
      <% end %>
    </ul>
  <% end %>
  
</section>