<%= link_to(content_tag(:i, '', class: 'fa fa-angle-up'), '#', id: 'page-top') %>

<div id="footerMenu" class="d-none d-md-block">
  <nav class="container navbar p-1 p-md-2" id="footerNab">
    <ul class="nav navbar-nav navbar-right flex-row d-none d-md-flex">
    	<li class="nav-item mr-4">
        <%= link_to(image_tag('list_icon_s.png', class: 'mr-2') + 'プライバシーポリシー', ENV['WP_PATH'] + '/privacy-policy/', class: 'nav-link', target: '_blank') %>
      </li>
      <li class="nav-item mr-4">
        <%= link_to(image_tag('list_icon_s.png', class: 'mr-2') + 'お問い合わせ', ENV['WP_PATH'] + '/contact/', class: 'nav-link', target: '_blank') %>
      </li>
    </ul>
  </nav>
</div>

<div id="copyRight" class="text-center bg_theme_color text-white p-3">
  Copyright ©社寺の杜 All Rights Reserved.
</div>